{% extends 'ProyectoWebApp/base.html' %}  <!-- Aca se especifica la ruta de donde va heredar las plantillas -->

{% load static %}  <!-- Aca se dice que cargue todo lo que está en la carpeta static -->


{% block contenido %} <!-- Aca se dice que cargue todo lo que está en la carpeta static -->

<div class="contenedorFormulario">

    {% if "valido" in request.GET %}
    <p> Información enviada correctamente. A la brevedad nos comunicaremos contigo. Gracias!</p>
    <!-- Aca le decimos a django que si hay una redireccion con la palabra valido en request.get (Lo que pusimos en views.py), entonces coloque esa leyenda. -->

    {% endif %}
    <form action="" method="POST" style="text-align: center;">{% csrf_token %} 
        <table style="color: rgb(0, 0, 0); margin: 20px auto;">{{miFormulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width: 150px;">
    </form>
</div>
{% endblock contenido %}
<!-- la etiqueta table y el formulario.as_table pide a django que muestre en el sitio un formulario (como si fuera una tabla) y el estilo será en formato de tabla. El div class llama a la clase contenedorFormulario que hace que el color de fondo sea de ese color -->
<!-- El form action y el method POST es para que envie la información de manera segura (el GET, la info se pasa por la URL y en POST no se ve la info). Si se usa acá el metodo POST debemos ir a views.py para rescatar esa info.
 El {% csrf_token %} hay que poner si o si porque es una medidad de seguridad para evitar que nos colen informacion. 
La tabla tendra un estilo, un color, un margin que separa este apartado del footer y el navbar y el auto que lo hace responsive. Luego tenemos un input que es submit porque envia  -->