

{% extends 'ProyectoWebApp/base.html' %}  <!-- Aca se especifica la ruta de donde va heredar las plantillas -->

{% load static %}  <!-- Aca se dice que cargue todo lo que está en la carpeta static -->


{% block contenido %} <!-- Aca se dice que cargue todo lo que está en la carpeta static -->

        {% for post in posts %} <!-- Aca va lo que es contexto de la función creada en views. -->


 <!-- Heading -->
 <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%;"><!-- con el código img, seguida de de su directorio. Colocamos la imagen que cargamos previamente en nuestra base de datos. A lo último se pone url para que django cargue las imagenes dentro del URL ROOT y MEDIA que cargamos en settings porque sino buscará imagenes en otro lado.
                Para encontrar sentido a esto recordar que todas estas instrucciones estas dentro del bucle for de nuestra app servicios utilizando la clase dentro de models.Servicio .
        Con el código width al final del código este, sirve para achicar la imagen en un porcentaje-->
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" style="color: white;">{{post.titulo}}</span>
                <span class="section-heading-upper" style="color: white;" >{{post.contenido}}</span>
                
                  <!-- Indicamos acá dentro el directorio del objeto servicio y su atributo. Dentro del clase servicio.          la class upper indica mayuscula y lower minuscula.
                El estyle color dentro de un "span-class le da el color que querramos." -->
                </h2>

             <div style="text-align: left; font-size: 0.8em;">
              Autor: {{post.autor}}
               <!-- Creamos una etiqueta div abajo del cierre de las etiquetas de post contenido y servicio, pero dentro de toda la sección y luego ponemos el código de autor, de manera con un style que alinie a la derecha. De esta manera aparecerá el nombre del autor dentro de la imagen del post, pero en chico y fuera del texto en sí, pero dentro del cuadrado de la figura.
              P/D: el código font size sirve para achicar y aumentar la letra. -->
            </div>
            </div>
          </div>
        </div>
      </section>

<div><p>

    <!--<h2 style="color: white;">{{servicio.titulo}}</h2>

     <p style="color: white;">{{servicio.contenido}}</p> -->
    <!-- con el código style, seguida de color le damos el color a la letra como querramos -->
     <!-- <p><img src="{{servicio.imagen.url}}"></p>
   con el código img, seguida de de su directorio. Colocamos la imagen que cargamos previamente en nuestra base de datos. A lo último se pone url para que django cargue las imagenes dentro del URL ROOT y MEDIA que cargamos en settings porque sino buscará imagenes en otro lado.
Para encontrar sentido a esto recordar que todas estas instrucciones estas dentro del bucle for de nuestra app servicios utilizando la clase dentro de models.Servicio -->
  
</p></div>
</section>
{% endfor %}
 <!-- se hace in ciclo for donde servicio es la variable. Luego se hace una etiqueta que comienza con doble llave y con el nombre de la variable, punto, y los diferentes registros que creamos para la clase Servicio y que forman parte de la base de datos-->
 <section>
  <div style="width:75%; margin: auto; text-align: center; color: white;">
    Categorías: 
 {% for post in posts %}
  {% for categoria in post.categorias.all %}
  <a href="{% url 'categoria' categoria.id%}" class="linksCategorias">{{categoria.nombre}}</a>  &nbsp; <!--&nbsp; &nbsp; esto sirve para dar espacios entre cada elemento de categoría. con el "a href le decimos a Django que nos cree un vinculo de url que nos lleve al path "categoria", y de ahi le pasamos por parametro categoria.id, tal como figura en la tabla de la base de datos.
  En otra vertiente creamos en nuestro archivo gestion.css una class linkCateg...que nos dice que esta clase deja en blanco los textos con guionbajo-->
    {% endfor %}
  {% endfor %}
</div>
 </section>
{% endblock contenido %}
<!-- Creamos una nueva sección fuera del bucle porque no es algo que se va a repetir. El width sirve para decirle a DJANGO que porcentaje queremos que ocupe la sección de toda la página.
El background color es el color del fondo y el margin: auto para centrar la sección o text-align: center para centrar su texto.
OTRA COSA: con este código ( for post in posts ) le decimos que recorra todos los posteos que hay, dentro y anidado, está le decimos que del elemento categoria dentro de posteos, dentro de categorias, todos ( for categoria in post.categorias.all)
Este codígo nos dice que todas las categorías se van almacenar en la variable "categoria", que a su vez en models fue creado -verbose_name="categoria"-) devuelva todas las categorias almacenadas en esa variable mediante el código {{categoria.nombre}} (Recordar que esto pertenece a models.py la clase Categoria, allí está la variable nombre). CÓMO? Con el estyle señalado allí dentro.
RECORDAR: RESPETAR LA ANDICACIÓN Y LA IDETACION DE CADA ELEMENTO-->



