
<html>

<head>
<!-- con este load, configuramos DJANGO para que tome en cuenta archivos statics. 
Luego vamos al link href y agregamos  -->
    {% load static %}

    <!-- Bootstrap. Este era el link original <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 3:42-->
    <link href="{% static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts. Fuentes de google que se toman -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     


    <!-- Styles. ENTRANDO EN VSC, A ESTE ARCHIVO PODEMOS MODIFICAR EL FORMATO. ACA HACEMOS LO MISMO QUE DEBAJO DE LOAD STATICS, ES DECIR, CAMBIAR EL LINK -->
    <link href="{% static 'ProyectoWebApp/css/gestion.css' %}" rel="stylesheet">

       <!-- ACA ARRIBA DE TODO VAN LOS LINK DE BOOTSTRAP, DE ENLACE EXTERNO.
      EL SEGUNDO SON LAS FUENTES (FONTS), CUYO ENLACE EXTERNO VIENE DE GOOGLE.
    FINALMENTE EN "STYLES" SE MENCIONA EL ARCHIVO DE GESTION CSS QUE TENEMOS DESCARGADO TIPO STATICS. ES DECIR, HAY ENLANCES EXTERNOS COMO DERIVACIONES INTERNOS -->  
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">Creando Habitos Saludables</span>
      </h1>


      <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Creando Habitos Saludables</a>  <!-- cuidado de escribir el patron de la url con mayuscula o minuscula segun figure en urls -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4"> <!-- el "active" hace que el icono aparezca activo, entonces se pone el codigo if request es igual a la url...(en este caso home es la / sola) -->
          <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
        </li> <!-- en cada uno de estos se vincula el url de cada html -->
        <li class="nav-item {% if request.path == '/Servicios' %} active {% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'Servicios' %}">Servicios</a>
        </li>
        <li class="nav-item {% if request.path == '/Tienda' %} active {% endif %}  px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'Tienda' %}">Tienda</a>
        </li>
        <li class="nav-item {% if request.path == '/Contacto' %} active {% endif %}  px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contacto</a>
        </li>
        <li class="nav-item {% if request.path == '/Blog' %} active {% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
 
  <!-- Contenido cambiante. Es decir, esta plantilla será la base. Cargará todo por defecto, y lo que variará es lo que está abajo, entre los block  -->
   
  {% block contenido %}
    
  {% endblock contenido %}
    


    <!-- Footer. PIE DE PAGINA ES -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Anabella Dal Lago. Copyright 2022</p>
      </div>
	</footer>

    <!-- Bootstrap. ENLACES EXTERNOS DE JAVASCRIPTS DE BOOTSTRAP. EN ESTOS LINK SELECCIONAMOS ARCHIVOS STATICS, DENTRO DE LA CARPETA QUE QUEREMOS -->
    <script src="{% static 'ProyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ProyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>