 {% extends 'ProyectoWebApp/base.html' %}  <!-- Aca se especifica la ruta de donde va heredar las plantillas -->

 {% load static %}  <!-- Aca se dice que cargue todo lo que está en la carpeta static -->

 
 {% block contenido %} <!-- Aca se dice que cargue todo lo que está en la carpeta static -->

 

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principal.png' %}" alt=""> <!-- Aca marcamos el dir de la página que se encuentra como statics y completamos como al comienzo, con statics, % y demás texto -->
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Excelencia Profesional</span>
            <span class="section-heading-lower">Dedicación</span>
          </h2>
          <p class="mb-3">Nos dedicamos y enfatizamos en las particularidades de cada paciente, haciendo un seguimiento y atención personalizado.
          </p>
         
        </div>
      </div>
    </div>
  </section>

  
    <!-- Heading -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">garantizado</span>
              </h2>
              <p class="mb-0">Con más de 10 años de experiencia a nuestras espaldas,  tenemos los conocimientos y herramientas necesarias para llevar adelante la gestión nutricional con profesionalidad.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    {% endblock contenido %}